* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}
@media only screen and (min-width: 1080px;) {
  .mobile-break {
    display: none;
  }
  .shisha-mobile {
    display: none;
  }
}
.header {
  background-color: #0f0f0f;
  box-shadow: 0 5px 4px -2px rgb(2, 117, 21);
  width: 100%;
}
body {
  background-image: url(./Media/background4.png);
  background-repeat: repeat;
}
.logo-header {
  width: 15vw;
  padding-left: 3.6%;
}
.header-info {
  display: inline-block;
  padding-left: 20px;
}
.content {
  margin: 0;
}
.row {
  font-size: 0;
  display: inline-block;
  text-align: center;
  width: 100%;
  padding-top: 5%;
}
.product {
  border: 1px solid #f58826;
  border-radius: 20px;
  display: inline-block;
  margin: 0;
  width: 22%;
  margin: 15px;
  box-shadow: 0px 0px 10px -2px rgb(2, 117, 21);
  background-color: white;
}
.product-image {
  width: 40%;
  border-radius: 20px;
  border-top-left: 2px solid #f58826;
  border-bottom-left: 2px solid #f58826;
  margin: 0;
  padding: 0;
  float: left;
  display: inline-block;
}
.product-name {
  font-size: 1.4vw;
  color: black;
  text-align: left;
  position: relative;
  left: 2.5%;
  font-weight: 500;
  padding-top: 2.5%;
}
.product-text {
  color: black;
  float: left;
  font-size: 1vw;
  display: inline-block;
  word-wrap: break-word; /* IE 5.5-7 */
  white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
  white-space: pre-wrap;
  padding-left: 2.5%;
  text-align: left;
  font-weight: 300;
}
.header-text {
  display: inline-block;
  font-size: 0.7vw;
  font-weight: 400;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  color: white;
}
.fa-instagram {
  /* background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  /* Also define standard property for compatibility */
  /* background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: white;
  font-size: 1.2vw; /* change this to change the size*/
}
.fa-phone {
  color: rgb(31, 185, 31);
  font-size: 1.2vw;
}
.last-row {
  padding-bottom: 5%;
}
.footer {
  width: 100%;
  background-color: #0f0f0f;
  box-shadow: 0 5px 4px 5px rgb(2, 117, 21);
}
.footer-logo {
  width: 200px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.footer-text {
  font-size: 16px;
  color: white;
}
.footer-copyright {
  padding-top: 15px;
  padding-bottom: 15px;
}
.instagram-button {
  display: inline-block;
  padding: 10px;
  border: 1px solid rgb(2, 117, 21);
  border-radius: 10px;
  color: rgb(2, 117, 21);
}
/* unvisited link */
a:link {
  text-decoration: none;
}

/* visited link */
a:visited {
  text-decoration: none;
  color: white;
}

/* mouse over link */
a:hover {
  text-decoration: none;
  background-color: black;
}

/* selected link */
a:active {
  text-decoration: none;
}

@media only screen and (max-device-width: 768px) {
  .logo-header {
    width: 45vw;
    padding-left: 6vw;
  }

  .product {
    width: 42vw;
  }
  .product-image {
    width: 24vw;
  }
  .product-name {
    font-size: 2.5vw;
  }
  .product-text {
    font-size: 2vw;
  }
  .header-info {
    padding-left: 14vw;
  }
  .header-text {
    display: inline-block;
    font-size: 3.5vw;
    font-weight: 400;
    padding-left: 1.5vw;
    padding-right: 10px;
    padding-bottom: 10px;
    color: white;
  }
  .fa-instagram {
    color: white;
    font-size: 4vw;
  }
  .fa-phone {
    color: rgb(31, 185, 31);
    font-size: 4vw;
  }
}

@media only screen and (max-device-width: 320px) {
  .logo-header {
    width: 45vw;
    padding-left: 10vw;
  }

  .product {
    width: 80vw;
  }
  .product-image {
    width: 40vw;
  }
  .product-name {
    font-size: 5vw;
  }
  .product-text {
    font-size: 4vw;
  }
  .header-info {
    padding-left: 7vw;
  }
  .header-text {
    display: inline-block;
    font-size: 3.5vw;
    font-weight: 400;
    padding-left: 1.5vw;
    padding-right: 10px;
    padding-bottom: 10px;
    color: white;
  }
  .fa-instagram {
    color: white;
    font-size: 4vw;
  }
  .fa-phone {
    color: rgb(31, 185, 31);
    font-size: 4vw;
  }
}
